.welcome {
    height: calc(100vh - 101px);
    background-color: #252526;
    color: white;
}

.cloud1 {
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.cloud2 {
    position: absolute;
    bottom: 0%;
    right: 4.5%;
    width: 100%;
}

.rocket {
    position: absolute;
    right: 91px;
    bottom: 150px;
}

.text1 {
    position: absolute;
    width: 859px;
    height: 18px;
    left: 100px;
    top: 240px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 18px;

    /* identical to box height, or 106% */
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FEFFFE;
}