.main {
    background-color: rgb(37, 37, 37);
    height: calc(100vh - 100px);
    color: white;
}


.shapedividers_com-9350 {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.shapedividers_com-9350::before {
    content: '';
    font-family: 'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: 1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw;
    background-size: 174% 152px;
    background-position: 51% 100%;
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.87 1.72" preserveAspectRatio="none"><g fill="%23ffffff"><path d="m 0,0 a 2.5,2.5 0 0 0 5,0 1.5,1.5 0 0 0 3,0 2,2 0 0 0 4,0 1.5,1.5 0 0 0 3,0 1,1 0 0 0 2,0 2.5,2.5 0 0 0 5,0 3.5,3.5 0 0 0 7,0 2.5,2.5 0 0 0 5,0 5,5 0 0 0 10,0 2.5,2.5 0 0 0 5,0 4,4 0 0 0 8,0 2.5,2.5 0 0 0 5,0 3,3 0 0 0 6,0 2.5,2.5 0 0 0 5,0 5.5,5.5 0 0 0 11,0 2.5,2.5 0 0 0 5,0 4,4 0 0 0 8,0 3,3 0 0 0 6,0 4,4 0 0 0 8,0 5,5 0 0 0 10,0 3.5,3.5 0 0 0 7,0 z" transform="matrix(-.26458 0 0 -.26458 33.87 1.72)"/><path d="m 0,0 a 3.5,3.5 0 0 0 7,0 5,5 0 0 0 10,0 4,4 0 0 0 8,0 5.5,5.5 0 0 0 11,0 6.5,6.5 0 0 0 13,0 5,5 0 0 0 10,0 6,6 0 0 0 12,0 6.5,6.5 0 0 0 13,0 5.5,5.5 0 0 0 11,0 4.5,4.5 0 0 0 9,0 6,6 0 0 0 12,0 6,6 0 0 0 12,0 z" opacity=".66" transform="matrix(-.26458 0 0 -.26458 33.87 1.72)"/></g></svg>');
}